.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  .MainWordWrapper > div {
    margin: 10px 0;
  }
  .MainWordWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .writers {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .comment,
  .description {
    display: flex;
    gap: 10px;
    margin: 7px 0;
  }
  .writers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    button{
      width: 100%;
    }
  }
  .informations{
    p{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .checkbox {
    display: flex;
    gap: 12px;
  }
}

.wordData > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
