$orange-color: #ec781c;
$blue-color: #124a85;

.header {
  background: $blue-color;
  width: 100%;
  height: 80px;
  nav {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    .userMe {
      display: flex;
      gap: 10px;
      .ProfilePhoto {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #ec781c;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .links {
      display: flex;
      gap: 20px;
      a {
        color: white;
        cursor: pointer;
        font-size: 15px;
        &:hover {
          transition: 0.3s;
          color: $orange-color;
        }
      }
    }
    .params {
      display: flex;
      gap: 10px;
    }

    .theme{
      .ThemContainerSun{
        background-color: #022c58;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        .SunIcon {
          font-size: 1.7rem;
        }
      }
      .ThemeContainerMoon{
        background-color: #022c58;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        .MoonIcon{
          font-size: 1.6rem;
        }
      }
    }
  }
}

