.sidebar {
  background-color: #2f4050;
  width: 350px;
  height: 100vh;
  
  .sidebarNav {
    width: 100%;
    height: auto;
    padding: 0;

    // Logo
    .logo {
      text-align: center;
      padding: 30px 0;
      text-transform: uppercase;
      font-size: 2.3rem;
      letter-spacing: 2px;
      color: #fff;
    }
    // ul li Items
    #activeLink {
      background-color: #293846;
      cursor: pointer;
    }
    .listItem {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0%;
      color: white;
      #icon {
        flex: 30%;
        display: grid;
        place-items: center;
        font-size: 1.9rem;
      }
      #link {
        color: #fff;
        flex: 70%;
        font-size: 1.3rem;
        text-transform: capitalize;
      }
      &:hover {
        background-color: #293846;
        cursor: pointer;
      }
    }


    // Dropdown
    .Dropdown {
      .DropdownWrapper {
        display: flex;
        align-items: center;
        margin: 10px 0;
        color: #fff;
        &:hover {
          background-color: #293846;
          cursor: pointer;
        }
        .DropdownBtn {
          font-size: 2rem;
          color: #fff;
          width: 100%;
          padding: 15px 35px;
          text-align: left;
        }

        .DropdownControl{
          display: flex;
          align-items: center;
          gap: 10px;
          span{
            margin-right: 10px;
          }
        }
      }
      .drobImg {
        object-fit: contain;
      }
      .DropdownList {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 20px;
        column-gap: 10px;
        text-align: center;
        .DropdownItem{
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 20px;
          color: #fff;
          font-size: 1.1rem;
          cursor: pointer;
          width: 100%;
          &:active{
            background-color: #293846;
            cursor: pointer;
          }
        }
      }
    }

    // theme
    .theme{
      margin: 35px;

      .lightTheme{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        font-size: 1.8rem;
        color: #fff;
        background-color: #293846;
        cursor: pointer;
      }

      .darkTheme{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        font-size: 1.8rem;
        color: #fff;
        background-color: #293846;
        cursor: pointer;
      }
    }
  }
}
