$orange-color: #ec781c;
$blue-color: #124a85;
.header {
  background: $blue-color;
  width: 100%;
  height: 80px;
  nav {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      gap: 20px;
      a {
        color: white;
        cursor: pointer;
        font-size: 15px;
        &:hover{
          transition: .3s;
          color: $orange-color;
        }
      }
    }
    .params {
      display: flex;
      gap: 10px;
    }
  }
}
