@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
$orange-color: #ec781c;
$blue-color: #124a85;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
[data-theme="light"] {
  code {
    color: white !important;
    background: black !important;
  }
}
[data-theme="dark"] {
  background-color: #00013d;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  .ant-table-content {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    border: none;

    .ant-table-wrapper .ant-table-tbody > tr > th.ant-table-cell-row-hover,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background: #00013d;
      color: #ec781c;
    }
    .ant-table-thead {
      .ant-table-cell {
        background: black;
        color: white;
        border-bottom: 1px solid #00013d;
      }
    }
    .ant-table-tbody {
      .ant-table-cell-fix-right {
        background: black;
      }
      tr > td {
        border-bottom: 1px solid #00013d;
      }
    }
  }
  .ant-btn {
    background: black;
    box-shadow: none;
    color: white;
    &:hover {
      background: #ec781c;
      color: white;
    }
  }
  .dark-buttons {
    button {
      &:hover {
        background: transparent;
      }
    }
  }
  .ant-modal-content {
    background: #00013d;
    label {
      color: white;
    }
    .ant-collapse {
      label {
        color: black;
      }
      .ant-collapse-header {
        color: white;
      }
    }
    .ant-modal-title {
      background: #00013d;
      color: white;
    }
    svg {
      color: white;
      font-size: 18px;
    }
  }
  .ant-table-pagination {
    li {
      border: 1px solid black;
      background: white;
    }
  }
  .ant-collapse-content {
    background: black;
    .ant-form-item-label {
      label {
        color: white;
      }
    }
    .ant-upload {
      overflow: hidden;
      background: white;
    }
  }
  .addText {
    color: white;
    margin: 4px 0 !important;
  }
  .quill {
    color: white;
    .ql-toolbar {
      span {
        color: white;
      }
      .ql-formats {
        .ql-header {
          span {
            color: black;
          }
          .ql-picker-label {
            color: white;
          }
        }
        button {
          color: white;
          svg {
            color: white;
          }
        }
      }
    }
  }
  code {
    color: black;
  }

}
.active {
  color: #ec781c;
}
a {
  color: white;
}
.quill {
  width: 500px;
}